/*
 * MY-STYLES
 * Added by Mason McGough
 * December 31st, 2016
 *
 *
 */
 
.custom-section-1 {
    background: #282a37 no-repeat center center;
}

.privacy-ul {
    margin: 20px;
}

.refund-ol {
    margin: 20px;
}

.navbar-container {
    background-color: #36394a;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-content {
    margin: 0 auto;
    padding-left: 75px;
    padding-right: 75px;
}

.navbar-company-name {
    position: absolute;
    left: 72px;
    top: 50px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    line-height: 28px;
}

.dropdown li {
    right: 100%;
}

/*HOME PAGE INTRO*/
.intro-section {
    position: relative;
    width: 100%;
    height: 800px;
    margin-bottom: 100px;
}

.intro-section.rectangle {
    position: absolute; 
    width: 55%;
    height: 100% !important;
    background-color: #282a37;
}

.intro-section-card {
    margin-top: 300px;
    margin-left: 220px;
}

.intro-section-image {
    position: absolute;
    left: 70px;
    top: 150px;
    width: 200px;
    z-image: 0;
}

.intro-section-big-title {
    position: relative;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 82px;
    line-height: 72px;
}

.intro-section-small-title {
    position: relative;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 38px;
}

.intro-section-caption {
    position: relative;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 32px;
}

/*CONTACT*/
.about-me h4 {
    margin-bottom: 0px;
}

.tp-caption.my-small-title {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    line-height: 72px;
}

.my-ctr-label {
    height: 40px;
}

/*DEMO PAGE*/
#gif-window {
    
}

.button-panel {
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.button-panel button {
    margin-right: 40px;
    width: 250px; 
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

/*SOLUTIONS PAGE*/
.page-solutions {
    display: block;
    position: relative;
    height: 700px;
    width: 100%;
    background-color: #000000;
    padding-bottom: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

.page-solutions-text h1 {
    position: absolute;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    width: 75%; 
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    white-space: pre-wrap; 
    padding-top: 200px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.page-solutions-text p {
    position: absolute;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    width:700px; 
    text-align: justify;
    font-size: 24px;
    line-height: 24px;
    white-space: pre-wrap;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 450px;
}

.backing-image {
    position: absolute;
    width: 100%;
}

/*PRICING PAGE*/
.price-table {
    padding-bottom: 100px;
}

.price-box {
    background-color: #f5f5f5;
    width: 250px;
    height: 400px;
    padding: 25px 25px 25px 25px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eff5fa;
}

.price-box h1 {
    color: #bc59f2;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    white-space: pre-wrap; 
    margin: auto;    
}

.price-box p {
    position: absolute;
    top: 100px;
    color: #363636;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    white-space: pre-wrap; 
    margin: auto;    
}

.price-box:hover {
    background-color: #cdf0f4;
}

/*WORKFLOW PAGE*/
.box {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #00ddf7;
}

.dot {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #00ddf7;
}

#container {
    height: 1000px;
}

.text-block {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: justify;
    white-space: pre-wrap;
}

.text-block p {
    font-size: 20px;
}

.short-margin {
    margin-bottom: 30px;
}
    
/*BUYINGANDPAYMENT*/
.payment-table-col {
    min-width: 5%;
    max-width: 15%;
    color: #000;
}

.payment-table-col-small {
    width: 8%;
    color: #000;
}

.payment-table-header {
    background-color: #36394a;
    color: #fff;
}

.payment-button {
    margin-top: 30px;
    border-radius: 30px;
    float: left;
}

.navbar {min-height: 0px; margin-bottom: 0px; border: 0px}
.nav>li {display: inline-block;}
.navbar-centered .nav > li > a {color: white}
.navbar-inverse { background-color: #555  } /* #7B7B7B */
.navbar-centered .nav > li > a:hover{ background-color: white; color: black }
.navbar-centered .nav .active > a,.navbar-centered .navbar-nav > .active > a:focus { background-color: white; color: black; font-weight:bold; }
.navbar-centered .navbar-nav { float: none; text-align: center; }
.navbar-centered .navbar-nav > li { float: none; }
.navbar-centered .nav > li { display: inline; }
.navbar-centered .nav > li > a {display: inline-block}
#home { color:ivory; margin-left: 15%; margin-right: 15% }

@media (min-width: 768px) {
    .navbar-centered .nav > li > a { width:12%; }
    #home { font-size: 30px}
}

@media (min-width:360px ) and (max-width: 768px){
    .navbar-centered .nav > li > a {font-size: 12px}
    #home { font-size: 20px}
}

@media (max-width: 360px) {
    .navbar-centered .nav > li > a {font-size: 10px}
    #home { font-size: 15px}
}

@media (min-width: 1022px) {
    .modal-dialog { width: 850px}
    #add_shipping { height: 300px }
}

/* vertically center the Bootstrap modals */
.modal {
    text-align: center;
    padding: 0!important;
}

/* vertically center the Bootstrap modals */
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/*FOOTER*/
.trustwave-signature {
    text-align: left;
}

/*REVSLIDER*/
.workflow-slider {
    background-image: "images/backgrounds/bg-slider.jpg";
}
